<ibm-header name="CoreApp" brand="Neops" (click)="this.navigateTo($event, routingKeys.routeDefault)">
  <ibm-header-navigation (click)="$event.stopPropagation()">
    <ibm-header-menu title="Network" (click)="$event.stopPropagation()">
      <ibm-header-item [routerLink]="routingKeys.routeDevices">Devices</ibm-header-item>
      <ibm-header-item [routerLink]="routingKeys.routeInterfaces">Interfaces</ibm-header-item>
      <ibm-header-item [routerLink]="routingKeys.routeClients">Clients</ibm-header-item>
      <ibm-header-item [routerLink]="routingKeys.routeGroups">Groups</ibm-header-item>
    </ibm-header-menu>
    <ibm-header-menu title="Integrations" (click)="$event.stopPropagation()">
      <ibm-header-item [routerLink]="routingKeys.routeJSONForm">JSON Form</ibm-header-item>
      <ibm-header-item [routerLink]="routingKeys.routeEditor">Editor</ibm-header-item>
      <ibm-header-item [routerLink]="routingKeys.networkDiagram">Network Diagram</ibm-header-item>
    </ibm-header-menu>
    <ibm-header-item [routerLink]="routingKeys.routeTasks">Tasks Executions</ibm-header-item>
    <ibm-header-item [routerLink]="routingKeys.routeConfiguration">Configuration</ibm-header-item>
    <ibm-header-item [routerLink]="routingKeys.routeHelp">Help</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-global (click)="$event.stopPropagation()">
    <div style="height: 100%; width: 120px; position: relative">
      <span style="color: gray; position: absolute; bottom: 0; width: 100%">{{this.version}}</span>
    </div>
    <ibm-header-action title="action">
      <svg ibmIconNotification size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIconUserAvatar size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIconAppSwitcher size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action" (click)="this.logout()">
      <svg ibmIconLogout size="20"></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>
